
{% extends "base.html" %}
{% block extra_head %}
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{% endblock %}
{% block extra_tab %}
{% comment %}
Add Tab for Third Party Apps
<li>
 <a href="{{ PROJECT_ROOT }}app">App</a>
</li>
{% endcomment %}

{% endblock %}

{% block footer%}
<footer class="footer custom-footer">
      <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="row">
                    <div class="col-sm-12 col-md-12 footer-text">
                        <a href="/about">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/term-of-use">Terms of use</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/get-started">Get Started</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/contact-us">Contact Us</a>&nbsp;&nbsp;&nbsp;
			<a href="https://resilienceacademy.ac.tz/" target="_blank">Resilience Academy Website</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="row ">
                    <div class="col-sm-12 col-md-12 footer-text text-info-left">
                        Powered by <a href="/crd-team">CRD Team</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </footer>
{% endblock footer%}
 