{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "Term of Use" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Term of Use" %}</h2>
</div>
<h3>{% trans "Introduction" %}</h3>
<p>Welcome to the Climate Risk Database. We invite you to access Climate Risk Database dataset, but please note that your invitation is subjected to your agreement with these Terms of Use.</p>
<p>{% trans "Please read this term of use agreement carefully before using any data form or uploading any data to the Climate Risk Database (CRD) platform.</p>
<p>By using the CRD services you agree on the following:
<ul>
<li>
You accept and agree to be bound by the terms and conditions. 
</li><li>
You agree that CRD holds copyrights and other rights to the Work provided by CRD, 
</li><li>
You agree and grants the rights to the users of CRD to use the data and the content that you upload.
</li><li>
You agree to provide information to the users for the contents which is been assign to you as an owner
</li>
</p>




<h3>Goals</h3>

<p>CRD is an open access web-based platform, launched by the Resilience Academy Initiative of the World Bank in January 2018. Designed to be continuously updated, this platform aims to become a reference for resilience-related decision makers, University communities and stakeholders on the Urban resilience.
</p>

<h3>Definitions</h3>
<ol>
<li>
“Platform” or “CRD” is an open access web-based platform launched by the Resilience Academy Initiative of The World Bank in January 2018. It consists of three main components providing:
<ul>
<li>Geographical Information System (“GIS”) data related to resilience for the city of Dar es Salaam and Zanzibar based on the government administration boundaries for sub-ward, ward, Municipality and  regional level, allowing users to visualize and generate maps,
</li>
<li>A platform for inter-disciplinary and knowledge sharing among resilience agencies, university community as well as resilience-related stakeholders (e.g. documentations, databases, reports, graphs, tables, videos, webinars, …), and
</li>
<li>A platform to be used by resilience-related stakeholders for building social networks and social relations (i.e. discussion groups).
</li>
</ul>
</li>
<li>
"You" means an individual or entity exercising rights under this Agreement.
</li>
<li>"Administrators" means the persons in charge of managing and up keeping the CRD Platform. Administrators refer to those persons who are authorized by CRD to manage and upkeep the CRD Platform.
</li>
<li>"Contributors" means the individuals or entities exercising rights under this terms of use and expressly authorized by Administrators to upload content to the CRD Platform.
</li>
<li>"License Elements" means the following high-level license attributes as selected by the Licensor: Attribution, Noncommercial, ShareAlike.
</li><li>
"CRD Management Team" means a group of individual selected in the CRD responsible for the overall function of the system. It includes the CRD Managers and IT Systems Managers.
</li>

</li>
</ol>


<h3>License Terms</h3>
<ol>
<li>Scope of this License. Nothing in this Terms of Use is intended to reduce, limit, or restrict any uses free from copyright protection.
</li>
<li>License Grant. Subject to the terms and conditions of this Terms of Use, CRD hereby grants You a worldwide, royalty-free, non-exclusive License to exercise the rights in the Work as follows:
<ul>
<li>To Reproduce, Distribute and Publicly Perform the Work, to incorporate the Work into one or more Collections, and to Reproduce, Distribute and Publicly Perform the Work as incorporated in the Collections; and,
</li>
<li>To create, Reproduce, Distribute and Publicly Perform Adaptations, provided that You clearly label, demarcate or otherwise identify that changes were made to the original Work.
</li>
</ul>
</li></ol>

<h3>Liability</h3>
<ol>
<li>The Data Managers  have the right but no duty to pre-screen, refuse, edit, move or remove any content of CRD.
</li>
<li>Your access to or use of or inability to access or use any linked site.
</li>
<li>Contributors are solely responsible for the quality and the metadata of the content they upload to CRD.
</li>
<li>If You are a Contributor that is not a CRD registered members, You hereby agree to consult and obtain the approval of the CRD Managers.
</li>
</ol>

{% endblock %}
